body {
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.upper-section {
    background-color: #1F2937;
    margin-bottom: 48px;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 24px;
    margin-bottom: 48px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.right-links li {
    display: inline;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero-main {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    gap:24px
}

.main-image {
    background-color: gray;
    display: flex;
    height: 200px;
    margin: 5px;
    width: 400px;
    justify-self: flex-end;
}

.main-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.main-text {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border-color: white; 
}

