body {
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

/* General rules for objects on page */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#hero-text,
a {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    text-align: center;
}

#logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul >li{
    display: inline;
}

#hero-head {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

/* Header and Hero Section */

.wrapper {
    background: #1F2937;
    padding: 2em;
}

.header{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

#nav-right {
    display: flex;
    gap: 2rem;
}

.hero {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 2em;
    height: 350px;
}

#hero-head,
#hero-text{
   width: 33%;
}


/* Information Section */

.info img {
    border-radius: 20px;
    border: 5px solid #3882F6;
}

#info-head {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 32px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 52px;
    margin-bottom: 48px;
}

.info{
    max-width: 200px;
    text-align: center;
}

/* Quote Section */

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

h4 {
    display: flex;
    justify-content: right;
    font-size: 30px;
    font-style: normal;
}

/* Call to Action Section */

