body {
    height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.upper-section {
    background-color: #1F2937;
    margin-bottom: 48px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin-bottom: 48px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.right-links li {
    display: inline;
}

a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
}